{% extends 'base.html' %}

{% block title %}Просмотр фото{% endblock %}

{% block menu %}
    {% if perms.webapp.update_photo or photo.author == request.user %}
        <li><a href="{% url 'webapp:photo_update' photo.pk %}">Обновить</a></li>
    {% endif %}
    {% if perms.webapp.delete_photo or photo.author == request.user %}
        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="box">
            <img class="photo" src="{{ photo.photo.url }}" width="550" height="auto" alt="photo">
            <h1>{{ photo.sign }}</h1>
            <p>Автор: <a href="{% url 'accounts:detail' photo.author.pk %}"> {{ photo.author }} </a></p>
            <p>Добавлено: {{ photo.created_at|date:"d.m.Y H:i:s" }} </p>
        </div>
    </form>
{% endblock %}
